{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 56
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}